appdirs==1.4.4
asgiref==3.2.7
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
distlib==0.3.1
Django==3.0.5
django-proxy-server==0.6
filelock==3.0.12
futures==3.1.1
goslate==1.5.1
idna==2.9
numpy==1.18.4
pafy==0.5.5
pipenv==2020.6.2
PyDictionary==2.0.1
pytube==9.6.0
pytube3==9.6.4
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0.1
spotipy==2.10.0
sqlparse==0.3.1
typing-extensions==3.7.4.2
urllib3==1.25.8
virtualenv==20.0.26
virtualenv-clone==0.5.4
xlwt==1.3.0
youtube-dl==2020.3.24
youtube-search==0.1.3
