{% extends 'base.html' %}

{% block content %}

    <h1>{{ group.name }}</h1>
    <a href="{% url 'settings' group.pk %}">Settings</a>
    <br>
    <br>

    <div style="border: 1px solid black; max-width: 300px; width: 300px; height: 500px; max-height: 500px; overflow-wrap: break-word; overflow-y:scroll; margin: 2px;" id="chat-log"></div>
    <input id="chat-message-input" type="text" size="31">
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username = "{{ username }}";

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/group_messages/ws/chat/'
            + roomName
            + '/'
        );

        let page = 0;

        function preloadMessages(){
            $.ajax({
                url: '/group_messages/load_messages/',
                data: {
                    'roomName': roomName,
                    'page': page,
                },
                dataType: 'json',
                success: function (data) {
                    data = data.messages;
                    for(i=0; i<data.length; i++){
                        var s =  data[i][0] + ': ' + data[i][1];
                        if(data[i][0] == username){
                            document.querySelector('#chat-log').innerHTML = "<p style='color: blue'>" + s + "</p>" + document.querySelector('#chat-log').innerHTML;
                        }
                        else{
                            document.querySelector('#chat-log').innerHTML = "<p>" + s + "</p>" + document.querySelector('#chat-log').innerHTML;
                        }
                        var obj = document.querySelector('#chat-log');
                        obj.scrollTop = obj.scrollHeight;
                    }
                    page += 1;
                }
            });
        }

        const sleep = (milliseconds) => {
          return new Promise(resolve => setTimeout(resolve, milliseconds))
        }

        chatSocket.addEventListener('open', function (event) {
            preloadMessages();
            sleep(500).then(() => {
              preloadMessages();
            })
        });

        $('#chat-log').scroll(function() {
            var pos = $('#chat-log').scrollTop();
            if (pos == 0) {
                preloadMessages();
            }
        });

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var s = data.username + ': ' + data.message;
            if ( data.username != username ){
                document.querySelector('#chat-log').innerHTML += "<p>" + s + "</p>";
            }
            else {
                document.querySelector('#chat-log').innerHTML += "<p style='color: blue'>" + s + "</p>";
            }
            var obj = document.querySelector('#chat-log');
            obj.scrollTop = obj.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if ( message.length != 0 ){
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': username,
                    'roomName': roomName
                }));
                messageInputDom.value = '';
            }
        };
    </script>

{% endblock %}